<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.17">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>appId</name>
          <description>Put in the tenant for the principle account</description>
          <defaultValue>a289cbdd-4fca-4a7d-88c4-6a02892223d4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>passwd</name>
          <description>Put in the password for the principle account</description>
          <defaultValue>{AQAAABAAAABA8o/kGx+sirvCsraemaqI2rB1FiiuTcMDXwwciSc6FXEiERPsZeV2m4YdkysQA3RsvWkWtTyCAMvQD3yuAwRwmkWIr0CBS/qv2DRkFj9uSeA=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tenant</name>
          <description>Put in the tenant for the principle account</description>
          <defaultValue>72f988bf-86f1-41af-91ab-2d7cd011db47</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>vaultname</name>
          <description>Put in the vault name please.</description>
          <defaultValue>testingvaultname</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>region</name>
          <description>Where do you want the vault to be.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>westus</string>
              <string>eastus</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ResourceName</name>
          <description>Put in the resource name you want to create</description>
          <defaultValue>ExampleGroup</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.45">
    <script>node() {
    stage(&apos;Deploying&apos;) {
        build job: &apos;/Deploy Initial VMs/&apos;, parameters: [string(name: &apos;appId&apos;, value: &quot;${appID}&quot;), password(description: &apos;Put in the password for the principle account&apos;, name: &apos;passwd&apos;, value: &quot;${passwd}&quot;), string(name: &apos;tenant&apos;, value: &quot;${tenant}&quot;), string(name: &apos;vaultname&apos;, value: &quot;${vaultname}&quot;), string(name: &apos;region&apos;, value: &quot;${region}&quot;), string(name: &apos;ResourceName&apos;, value: &quot;${ResourceName}&quot;)]
    }
    stage(&apos;Waiting to Delete Resources&apos;){
        timeout(time: 7200, unit: &apos;SECONDS&apos;) {
        input &quot;continue without waiting...&quot;
        }
    }
    stage(&apos;cleanup&apos;){
        build job: &apos;/Delete_Resources/&apos;, parameters: [string(name: &apos;ResourceName&apos;, value: &quot;${ResourceName}&quot;)]
    }

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>