<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h1 {
            color: blue;
            margin: 0 auto;
            text-align: center;
        }
        table {
            color: black;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            font-size: 20px;
        }
        span {
            color: red;
        }
        .info {
            color: teal;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Page</title>
</head>

<body>
    <div>
        <h1>This is your container and Kubernetes Info Page</h1>
    </div>
    <table>
        <tbody>
            <tr>
                <th>Container IP:</th>
                <th class="info">{{container_IP}}</th>
            </tr>
            <tr>
                <th>Container ID</th>
                <th class="info">{{container_ID}}</th>
            </tr>
        </tbody>
    </table>
</body>

</html>