<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    <title>{{title}}</title>

    <script language="JavaScript">
        function send(form){
        }
    </script>

</head>
<body>
    <div id="container">
        <form id="form" name="form" action="/"" method="post"><center>
        <div id="logo">{{title}}</div>
        <div id="space"></div>
        <div id="form">
        <button name="red" value="{{button1value}}" onclick="send()" class="button button1">RED - {{button1value}}</button>
        <button name="yellow" value="{{button2value}}" onclick="send()" class="button button2">YELLOW - {{button2value}}</button>
        <div id="space"></div>
        <div id="space"></div>
        <div id="Status"> {{message}} </div> 
        </form>        
        </div>
    </div>
</body>
</html>