<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>appId</name>
          <description>Put in the tenant for the principle account</description>
          <defaultValue>a289cbdd-4fca-4a7d-88c4-6a02892223d4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>passwd</name>
          <description>Put in the password for the principle account</description>
          <defaultValue>{AQAAABAAAABA4ew/jOmoGJgJkw5YLQol+5jOODOaKlflP3WG3DF5lx89QKpMPgURHAxv9q0uDy6/o5JratBGm2WX6hAbYIFYaGA9xxhEv2JEwre5FnSBy84=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tenant</name>
          <description>Put in the tenant for the principle account</description>
          <defaultValue>72f988bf-86f1-41af-91ab-2d7cd011db47</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>vaultname</name>
          <description>Put in the vault name please.</description>
          <defaultValue>testingvaultname</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>region</name>
          <description>Where do you want the vault to be.</description>
          <defaultValue>westus</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ResourceName</name>
          <description>Put in the resource name you want to create</description>
          <defaultValue>ExampleGroup</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
sudo /root/bin/az login --service-principal -u $appId --password $passwd --tenant $tenant
cd /tmp/
sudo cp /u01/ops/oss/scripts/demoasr/azuredeploy.parameters.json /tmp/demoasr.parameters.json
sudo sed -i &quot;s/{recovery_vault_name}/${vaultname}/g&quot; demoasr.parameters.json
sudo sed -i &quot;s/{recovery_vault_location}/${region}/g&quot; demoasr.parameters.json
sudo sed -i &quot;s/{vnet_location}/${region}/g&quot; demoasr.parameters.json

sudo /root/bin/az group create -l ${region} -n $ResourceName

sudo /root/bin/az group deployment create \
     --name ExampleDeployment \
     --resource-group $ResourceName \
     --template-file /u01/ops/oss/scripts/demoasr/azuredeploy.json \
     --parameters @demoasr.parameters.json</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>