<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
</head>

{{ form.autocomp.label }}: {{ form.autocomp }}

<script>
    var data = ["China (1)",
          "India (2)",
          "United States (3)",
          "Indonesia (4)",
          "Brazil (5)",
          "Pakistan (6)",
          "Nigeria (7)",
          "Bangladesh (8)",
          "Russia (9)",
          "Japan (10)",
          "Mexico (11)",
          "Philippines (12)",
          "Ethiopia (13)",
          "Vietnam (14)",
          "Egypt (15)",
          "Germany (16)",
          "Iran (17)",
          "Turkey (18)",
          "Democratic Republic of the Congo (19)",
          "Thailand (20)",
          "France (21)",
          "United Kingdom (22)",
          "Italy (23)",
          "Myanmar (24)",
          "South Africa (25)",
          "Tanzania (26)",
          "South Korea (27)",
          "Colombia (28)",
          "Spain (29)",
          "Kenya (30)"
    
    ];
    $(function() {
        $('#country_autocomplete').autocomplete({
            source: data,
            minLength: 1
        });
    });
</script>
