<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kubernetes Info Page</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:400" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/k8s_enhance.css">
</head>

<body>
    <div>
        <h1>This is your Kubernetes Info Page</h1>
    </div>
    <div class="images">
        <img id="azure" src="/static/src/azure.png" alt="Azure">
        <img src="/static/src/k8s.png" alt="Kubernetes">
    </div>
    <table>
        <tbody>
            <tr>
                <th>Node Name:</th>
                <th class="info">{{k8s_node_name}}</th>
            </tr>
            <tr>
                <th>Pod Name</th>
                <th class="info">{{k8s_pod_name}}</th>
            </tr>
            <tr>
                <th>Pod Namespace</th>
                <th class="info">{{k8s_pod_namespace}}</th>
            </tr>
            <tr>
                <th>Pod IP</th>
                <th class="info">{{k8s_pod_ip}}</th>
            </tr>
            <tr>
                <th>Pod Service Account</th>
                <th class="info">{{k8s_serviceaccount_name}}</th>
            </tr>
        </tbody>
    </table>
</body>

</html>
