<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>5</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>appId</name>
          <description>Put in the tenant for the principle account</description>
          <defaultValue>a289cbdd-4fca-4a7d-88c4-6a02892223d4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>passwd</name>
          <description>Put in the password for the principle account</description>
          <defaultValue>{AQAAABAAAAAQpvaHij1Of+oye8md19Lb/xfNA87DwMPTG/aTulJpOuU=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>tenant</name>
          <description>Put in the tenant for the principle account</description>
          <defaultValue>72f988bf-86f1-41af-91ab-2d7cd011db47</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>region</name>
          <description>Where do you want the vault to be.</description>
          <defaultValue>westcentralus</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ResourceName</name>
          <description>Put in the resource name you want to create</description>
          <defaultValue>ExampleGroup</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;Logging into Azure.................................................................................&quot;
sudo /var/lib/jenkins/bin/az login --service-principal -u $appId --password $passwd --tenant $tenant
echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;

echo &quot;Creating the build workspace.................................................................................&quot;
mkdir &quot;/tmp/$BUILD_TAG&quot;
cd &quot;/tmp/$BUILD_TAG&quot;
pwd

echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;Downloading the parameters file from github.................................................................................&quot;
curl -O -u dd418d1618849ca321b6244cc11070344f01dcb8:x-oauth-basic \
	https://raw.githubusercontent.com/alihhussain/ops/master/oss/VMCustomData/azuredeploy.parameters.json

curl -O -u dd418d1618849ca321b6244cc11070344f01dcb8:x-oauth-basic \
	https://raw.githubusercontent.com/alihhussain/ops/master/oss/VMCustomData/azuredeploy.json
    
curl -O -u dd418d1618849ca321b6244cc11070344f01dcb8:x-oauth-basic \
	https://raw.githubusercontent.com/alihhussain/ops/master/oss/pythons/httpd.py
    
curl -O -u dd418d1618849ca321b6244cc11070344f01dcb8:x-oauth-basic \
    https://raw.githubusercontent.com/alihhussain/ops/master/oss/pythons/parseoutput.py


echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;

keycontent=$(sudo cat /var/lib/jenkins/.ssh/authorized_keys)

sed -i &quot;s#{ssh_key_data}#$keycontent#g&quot; azuredeploy.parameters.json

echo &quot;Creating the ResourceGroup.................................................................................&quot;
sudo /var/lib/jenkins/bin/az group create -l ${region} -n $ResourceName
echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;

echo &quot;Creating the Deployment within the resourceGroup...................(This could take up to 10 mins)........................&quot;

sudo /root/bin/az group deployment create \
     --name ExampleDeployment \
     --resource-group $ResourceName \
     --template-file azuredeploy.json \
     --parameters @azuredeploy.parameters.json \
     &gt; ./${BUILD_TAG}output.json

echo &quot;./${BUILD_TAG}output.json&quot;
cat &quot;./${BUILD_TAG}output.json&quot;

echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;

echo &quot;Deploying out Apache (httpd) to the VM&quot;

sleep 1m
python parseoutput.py &quot;./${BUILD_TAG}output.json&quot; &gt; ./vmname.txt
python httpd.py

echo &quot;______________________________________________________________________________________________________________________________________&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;

cd /u01/var/lib/jenkins/workspace/NginxApp/Initial_Infrastructure_Build/
echo &quot;Deleting the build workspace.................................................................................&quot;
rm -fR &quot;/tmp/$BUILD_TAG&quot;
echo &quot;______________________________________________________________________________________________________________________________________&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>