<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docker Container Info Page</title>
    <link rel="stylesheet" href="/static/docker.css">
</head>

<body>
    <div>
        <h1>This is your Docker Container Info Page</h1>
    </div>
    <table>
        <tbody>
            <tr>
                <th>Container IP:</th>
                <th class="info">{{container_IP}}</th>
            </tr>
            <tr>
                <th>Container ID</th>
                <th class="info">{{container_ID}}</th>
            </tr>
        </tbody>
    </table>
</body>

</html>
